<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal greeting</title>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>About User</h1>
      <form>
        <div class="remember">
          <label for="entername">Enter your Firstname:</label>
          <input id="entername" type="text" required>
          <br>
          <label for="enterlastname">Enter your Lastname:</label>
          <input id="enterlastname" type="text" required>
          <br>
          <label for="entermail">Enter your E-mail:</label>
          <input id="entermail" type="text" required>
          <br>
          <label for="enterpassword">Enter your Password:</label>
          <input id="enterpassword" type="text" required>
          <br>
          <input id="submitname" type="submit" value="Create User">
        </div>
        
        <div class="forget">
          <label for="forgetname">Want me to forget you?</label>
          <input id="forgetname" type="reset" value="Delete User">
        </div>
        
      </form>
    </header>
  </body>
</html>